/*Base CSS-------------------------------------------------*/
/*Clean Slate*/
* {
margin: 0;
padding: 0;
}

/*Typography*/
html {font-size: 1em;}

body {
  background-color: pink;
  font-family: 'Poppins','Source Sans Pro', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


/*Utilities--------------------------------------------------------*/
/*Quick Floating*/
.left{
	float:left;
}

.right{
	float:right;
}

/*Absolute Vertical Centering*/
.center-container {
  position: relative;
}

.absolute-center {
  margin: auto;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hide {
	display:none;
}

/*Components--------------------------------------------------------*/
/*Navbar*/
#navLogo{
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.5em;
	margin: 0 !important;
	color:rgba(255,255,255,1.0) !important;
	text-transform: none !important;
	font-weight: initial !important;
}
/*Navbar Styling*/
#navBar{
	width:100%;
	height: 80px;
	margin:0;
	padding:0;
	background-color: rgba(51,51,51,1);
	box-shadow: 0px 1px 10px rgba(40,40,40,0.5);
	text-transform: uppercase;
	font-weight: 500;
}

#navBar ul{
	list-style-type: none;
	margin: 0 auto;
	width: 90%;
	/* max-width: 1024px; */
}

#navBar ul li{
	margin:0;
	padding:0;
}

#navBar ul li a{
	text-decoration: none;
	padding: 0 30px;
	margin: 7px 0;
	color:rgba(255,255,255,0.4);
}

.navLink{
	transition: all 0.4s ease;
}

.navLink:hover:not(.active) {
	color:rgba(255,255,255,0.7) !important;
}

.navLink:active:not(.active) {
	color:rgba(255,255,255,0.9) !important;
}

.navRound{
	border: 2px solid rgba(255,255,255,0.4);
	margin: 2px 0 0 35px !important;
	padding: 3px 20px !important;
	border-radius: 40px;
}

.navRound:hover{
	border: 2px solid rgba(255,255,255,0.7);
}

.navRound:active{
	border: 2px solid rgba(255,255,255,0.9);
}

.active{
	color:rgba(255,255,255,0.9) !important;
    border-color: rgba(255,255,255,0.9) !important;
}

@media screen and (max-width: 768px) {
	.navLink{
		display:none;
	}
	#navLogo{
		width:100%;
		text-align: center;
	}
}

/*---------------------------------------------------------------------------*/




