/* Adapted CSS only pinterest style grid

Credit to Kushagra Agarwal and Pixleight
http://cssdeck.com/labs/css-only-pinterest-style-columns-layout

*/
body{
	background-color: rgba(153,0,93,1);
}
#body {


}

#columns {
	-webkit-column-count: 6;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
    -webkit-columns: 150px;
    -moz-columns: 150px;
    columns:3;
	
	width:90%;
	margin: auto;
	padding:40px 0;
/* 	max-width: 1100px; */
/* 	min-width: 800px; */
}

.storyItem {
	box-sizing: border-box;
	display: inline-block;
	background-color: rgba(250,250,250,1.0);

	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px 15px 45px 15px;
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

	width:100%;
/*	height: 80px;*/

	overflow: hidden;
	text-overflow: ellipsis;
	margin:4px 0;
	border-radius: 4px;
}


.storyItem li{
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding:10px 0;
}

.storyItem p {
	font-family: 'Poppins', sans-serif;
	color: #333;
	margin: 0;
}


/* Mobile */
@media (max-width: 425px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}


/* Tablet */
@media (min-width: 426px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

/* Desktop */
@media (min-width: 769px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

/* Large Desktop */
@media (min-width: 1024px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
