*{
	padding:0;
}
body{
	background-color: rgba(153,0,93,1);

    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}

/*Utils --------------------------------------------------------------------------------------------------------------*/
.button{
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
    background-color: rgba(255,255,255,0.6);
    cursor:pointer;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: rgba(255,255,255,0.7);
}
.button:active{
    background-color: rgba(255,255,255,0.8);
}
/*Splash Screen -----------------------------------------------------------------------------------------------------*/
#splash{
	text-align: center;	
	color:rgba(250,250,250,1.0);
}
#splash-writeyO{
	display:block;
	width:500px;
	height:500px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:rgba(250,250,250,1.0);
}
#splash-text{
	font-family: "Lora",serif;
	font-style: italic;
	margin:auto;
	max-width:80%;
}

/*Session ----------------------------------------------------------------------------------------------------------*/
/*Session-Writey O Interface -------------------------------------*/
#session-writeyO{
	display:block;
	width:500px;
	height:500px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:rgba(250,250,250,1.0);
}
#session-writeyO-prompt{
	font-family:'Lora',serif;
	font-style: italic;
    margin: auto;
    max-width: 85%;
}
#session-writeyO-timerPrompt{
	position: absolute;
	width:500px;
}
/*Prompt circles*/
.session-writeyO-circ{
	font-weight:600;
	width:40px;
	height:40px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	background-color: rgba(153,0,93,1);
	color:rgba(250,250,250,1.0);
	list-style: none;
	padding-top:7px;
	float:right;
	position:absolute;

    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}
.session-writeyO-circ-active{
	width:40px;
	height:40px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	color:rgba(153,0,93,1);
	background-color: rgba(250,250,250,1.0);
}
#session-left{
	height:100%;
}
#session-writeyO-indicator{
    position: absolute;
    right: 50%;
    border-top: 2px solid rgba(250,250,250,1.0);
    border-right: 2px solid rgba(250,250,250,1.0)
}
/*Session-Input ------------------------------------------*/
#session-right{
	background-color: rgba(51,51,51,0.4);	
	height:100%;
	position:relative;
	color:rgba(250,250,250,1.0);
	margin:0;
	padding:0;
	overflow:hidden;
}
#session-writey-O-Input{
	position:absolute;
	bottom:0px;
	width:100%;
	height:100px;
    border-top: 2px solid rgba(250,250,250,1.0);
}
#session-writey-O-Input textarea{
	width:80%;
	height:100%;
	font-family: "Poppins", sans-serif;
	border:none;
	resize:none;
    word-wrap: break-word;
    word-break: break-all;
    float:left;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.3);
    color:rgba(250,250,250,1);
}
#session-writey-O-Input i{
	font-size: 2.2em;
	color:rgba(0, 0, 0, 0.7);
}
#session-writey-O-Input button{
	width:20%;
	height:100%;
	border:none;
    float:left;
}
.session-writeyO-entry{
	min-height: 70px;
	margin:0 auto;
	border-bottom: 1px solid rgba(250,250,250,0.5);
    padding: 20px 0;
    width:90%;
}
.session-writeyO-entry-input{
	font-size: 1.2em;
}
#session-writeyO-entry-container{
	margin: 30px 0;
	position: absolute;
	bottom:100px;
	width:100%;
}
#session-writeyO-circ-container div{
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}
#session-input{
	position:absolute;
	bottom:0px;
	width:100%;
	height:100px;
}
#session-input i{
	font-size: 2.2em;
	color:#4d002f;
}
#session-input button{
	width:50%;
	height:100px;
	border:none;
    float:left;
}
/*End ----------------------------------------------------------------------------------------------------------*/
/*End-Writey O Interface -------------------------------------*/
#end-writeyO{
	display:block;
	width:500px;
	height:500px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:rgba(250,250,250,1.0);
}
#end-text{
	font-family: "Lora",serif;
	font-style: italic;
	margin:auto;
	max-width:80%;
}
#end-left{
	height:100%;
}
/*End-Storylog ------------------------------------------*/
#end-right{
	background-color: rgba(51,51,51,0.4);	
	height:100%;
	position:relative;
	color:rgba(250,250,250,1.0);
	margin:0;
	padding:0;
}

/*Tablet*/
@media screen and (max-width: 768px) {
	.navLink{
		display:none;
	}
	#navLogo{
		width:100%;
		text-align: center;
	}

	#navBar ul li a{
		padding: 0;
	}

	/*Splash*/
	#splash-writeyO{
		width:400px;
		height:400px;
	}

	/*Session*/
	#session-writeyO{
		width:400px;
		height:400px;
		margin-top: -290px;
	}
	/*Hide WriteyO Indicator on tablet and smaller*/
	#session-writeyO-indicator{
	    display: none;
	    visibility: hidden;
	}
	#session-left{
		height:50%;
		overflow:hidden;
	}
	#session-right{
		height:50%;
	}
	#session-writeyO-timerPrompt {
	    left: 0;
	    width: 100%;
        font-size: 75%;
        margin-top: 300px;
	}
}

/*Mobile*/
@media screen and (max-width: 425px) {
	#navBar{
	    display: none;
	    visibility: hidden;
	}
	/*Splash---------------------------*/
	#splash-writeyO{
		width:290px;
		height:290px;
	}
	/*session--------------------------*/
	#session-left{
		height:55%;
	}
	#session-right{
		height:45%;
	}
	#session-writeyO{
		width:290px;
		height:290px;
		margin-top:-220px;
	}
	#session-writeyO-timerPrompt {
	    left: 0;
	    width: 100%;
        font-size: 65%;
        margin-top: 200px;
	}
	#session-writey-O-Input{
		height:55px;
	}
	#session-writeyO-prompt{
	    max-width: 90%;
	}
	#countdown{
		padding-bottom: 50px;
	}
	.session-writeyO-circ{
		width:30px;
		height:30px;
		padding:2px;
	}
	#session-writeyO-entry-container{
		margin:0;
		bottom:55px;
		font-size:75%;
		padding: 10px 0px;
		overflow-y:scroll;
	}
	.session-writeyO-entry{
		min-height: 20px;
		margin:0 auto;
/*		border-bottom: 1px solid rgba(250,250,250,0.5);*/
	    padding: 5px 0;
	    width:90%;
	}
}




/*React Transition Groups*/
/*.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/