/*Splash Screen*/
/*Typography*/
#splash h2{
	font-family: "Lora",serif;
	font-style: italic;
	margin:auto;
}

#splash{
	text-align: center;	
	color:rgba(250,250,250,1.0);
}


/*Session*/
#session div{
/*	margin:0;
	padding:0;*/
}

/*Writey O Interface*/
#writeyO{
	width:500px;
	height:500px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:rgba(250,250,250,1.0);

	/*Transitions*/


}

#writeyO-prompt{
	font-family:'Lora',serif;
	font-style: italic;
    margin: auto;
    max-width: 85%;

	/*Transitions*/
/*
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;*/
}

#writeyO-timerPrompt{
	position: absolute;
	width:500px;
}

/*prompt circles*/
.writeyO-circ{
	font-weight:600;
	width:40px;
	height:40px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	background-color: rgba(153,0,93,1);
	color:rgba(250,250,250,1.0);
	list-style: none;
	padding-top:7px;
	float:right;
	position:absolute;
}

.writeyO-circ-active{
	width:40px;
	height:40px;
	border:4px solid rgba(250,250,250,1.0);
	border-radius: 100%;
	color:rgba(153,0,93,1);
	background-color: rgba(250,250,250,1.0);
}

.writeyO-circ-length{
/*	position:absolute;*/
}

/*Left Side*/
#session-left{
	height:100%;
}

/*Right Side*/
#session-right{
	background-color: rgba(0, 0, 0, 0.5);	
	height:100%;
	position:relative;
	color:rgba(250,250,250,1.0);
	margin:0;
	padding:0;
}

#writey-O-Input{
	position:absolute;
	bottom:0px;
	width:100%;
	height:100px;
}

#writey-O-Input textarea{
	width:80%;
	height:100%;
	font-family: "Poppins", sans-serif;
	border:none;
	resize:none;
    word-wrap: break-word;
    word-break: break-all;
    float:left;
    padding: 10px 20px;
}

#writey-O-Input button{
	width:20%;
	height:100%;
	border:none;
    float:left;
}



.writeyO-entry{
	min-height: 70px;
	margin:0 auto;
	border-bottom: 1px solid rgba(250,250,250,0.5);
    padding: 20px 0;
    width:90%;
/*	font-weight: inherit;
	line-height: 1.2;
	font-size: 1.414em;*/
}


.writeyO-entry-input{
	font-size: 1.2em;
}

#writeyO-entry-container{
	margin: 30px 0;
	position: absolute;
	bottom:100px;
	width:100%;
}

/*
h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
	font-size: 1.414em;
}
*/

.apple{
	background-color: red;
}

#writeyO-circ-container div{
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}
