/*Splash Screen*/
/*Typography*/
#splash h2{
	font-family: "Lora",serif;
	font-style: italic;
	margin:auto;
}

#splash{
	text-align: center;	
	color:#fafafa;
}


/*Session*/
#session div{
/*	margin:0;
	padding:0;*/
}

/*Writey O Interface*/
#writeyO{
	width:500px;
	height:500px;
	border:3px solid #fafafa;
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#fafafa;

	/*Transitions*/


}

#writeyO-prompt{
	font-family:'Lora',serif;
	font-style: italic;
    margin: auto;
    max-width: 85%;

	/*Transitions*/
/*
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;*/
}

#writeyO-timerPrompt{
	position: absolute;
	width:500px;
}

/*prompt circles*/
.writeyO-circ{
	font-weight:600;
	width:40px;
	height:40px;
	border:3px solid #fafafa;
	border-radius: 100%;
	background-color: rgba(153,0,93,1);
	color:#fafafa;
	list-style: none;
	padding-top:7px;
	float:right;
	position:absolute;
}

.writeyO-circ-active{
	width:40px;
	height:40px;
	border:3px solid #fafafa;
	border-radius: 100%;
	color:rgba(153,0,93,1);
	background-color: #fafafa;
}

.writeyO-circ-length{
/*	position:absolute;*/
}

/*Left Side*/
#session-left{
	height:100%;
}

/*Right Side*/
#session-right{
	background-color: rgba(40,40,40,0.1);	
	height:100%;
}


.apple{
	background-color: red;
}

#writeyO-circ-container div{
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}
